<!DOCTYPE html><html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @slide.title %></title>
  <!--&#91;if lt IE 9&#93;>
  <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <!&#91;endif&#93;-->
  <%= stylesheet_link_tag 'for-embed', media: 'all', debug: false %>
  <%= javascript_include_tag 'for-embed', debug: false %>
  <link rel='canonical' href='http://localhost:3000/slides/<%= @slide.id %>'>
</head>
<body style="margin:0;padding:0">
  <div class="slide-viewer-container" style="background-color: <%= '#333' || '#fff' %>">
    <div class="slider-pro">
      <div class="sp-slides">
        <% @slide.pages.each do |page| %>
          <div class="sp-slide">
            <%= image_tag page.image_url(:medium), class: 'sp-image',
              data: { src: page.image_url(:medium), medium: page.image_url(:medium), large: page.image_url(:large) } %>
          </div>
        <% end %>
      </div>
      <div class="ui inverted dimmer slide-loader">
        <div class="ui large text loader">Loading</div>
      </div>
    </div>
    <div class="slide-toolbar-container">
      <div class="slide-progress ui teal tiny progress">
        <div class="bar"></div>
      </div>
      <div class="slide-toolbar">
        <div class="brand-title">
          <%= link_to 'Tease.Me', root_path, target: '_blank' %>
        </div>
        <div class="slide-pager">
          <button class="tool-item" id="prev">
            <i class="angle double left icon"></i>
          </button>
          <div class="slide-counter"></div>
          <button class="tool-item" id="next">
            <i class="angle double right icon"></i>
          </button>
        </div>
        <button class="tool-item" id="fullscreen">
          <i class="expand icon"></i>
        </button>
      </div>
    </div>
  </div>
</body>
</html>
