<!DOCTYPE html><html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @slide.title %></title>
  <!--&#91;if lt IE 9&#93;>
  <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <!&#91;endif&#93;-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/progress.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
  <link rel='canonical' href='http://localhost:3000/slides/<%= @slide.id %>'>
  <script type="text/javascript">
  <!--
  $(document).ready(function() {

'use strict';

var _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || false; descriptor.configurable = true; if ("value" in descriptor) descriptor.writable = true; Object.defineProperty(target, descriptor.key, descriptor); } } return function (Constructor, protoProps, staticProps) { if (protoProps) defineProperties(Constructor.prototype, protoProps); if (staticProps) defineProperties(Constructor, staticProps); return Constructor; }; }();

function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }

/*
 https://github.com/kayahr/jquery-fullscreen-plugin
 に依存
 */

var Fullscreen = function () {
  function Fullscreen(target, button) {
    _classCallCheck(this, Fullscreen);

    this.$elem = target;
    this.$button = button;
    this._check();
  }

  _createClass(Fullscreen, [{
    key: 'toggle',
    value: function toggle() {
      if (!this._canFullscreen()) return alert('フルスクリーンモードは使用できません。');

      if (this._nowFullscreen()) {
        this.$elem.fullScreen(false);
        this.$button.children('.icon').removeClass('compress').addClass('expand');
      } else {
        this.$elem.fullScreen(true);
        this.$button.children('.icon').removeClass('expand').addClass('compress');
      }
    }

    /* Private */

    // フルスクリーン使用可能かチェック

  }, {
    key: '_check',
    value: function _check() {
      if (this._canFullscreen()) return;
      this.$button.addClass('disabled');
    }

    // フルスクリーン中かどうか

  }, {
    key: '_nowFullscreen',
    value: function _nowFullscreen() {
      return document.fullScreen || document.mozFullScreen || document.webkitIsFullScreen || document.msFullScreen || false;
    }

    // フルスクリーン可能かどうか

  }, {
    key: '_canFullscreen',
    value: function _canFullscreen() {
      return document.fullscreenEnabled || document.webkitFullscreenEnabled || document.mozFullScreenEnabled || document.msFullscreenEnabled || false;
    }
  }]);

  return Fullscreen;
}();

var Slider = function () {
  function Slider(_ref) {
    var slider = _ref.slider;
    var totalPages = _ref.totalPages;
    var progressCount = _ref.progressCount;
    var progressBar = _ref.progressBar;
    var loader = _ref.loader;

    _classCallCheck(this, Slider);

    this.dom = {
      slider: $(slider),
      progressCount: $(progressCount),
      progressBar: $(progressBar),
      loader: $(loader)
    };

    this.currentPage = 1;
    this.totalPages = totalPages;
    this.loading = false;
    this._updateProgress();
  }

  _createClass(Slider, [{
    key: 'goNext',
    value: function goNext() {
      console.log(this.currentPage + ' / ' + this.totalPages);
      if (this.currentPage >= this.totalPages) return;
      console.log('next!!');
      this.currentPage += 1;
      this.dom.slider.slick('slickNext');
      this._updateProgress();
    }
  }, {
    key: 'goPrev',
    value: function goPrev() {
      console.log(this.currentPage + ' / ' + this.totalPages);
      if (this.currentPage <= 1) return;
      console.log('prev!!');
      this.currentPage -= 1;
      this.dom.slider.slick('slickPrev');
      this._updateProgress();
    }
  }, {
    key: 'resize',
    value: function resize() {
      this.dom.slider.slick('setPosition');
    }

    /* Private */

  }, {
    key: '_updateProgress',
    value: function _updateProgress() {
      this.dom.progressCount.text(this.currentPage + ' / ' + this.totalPages);
      this.dom.progressBar.progress({ percent: this.currentPage * 100 / this.totalPages });
    }
  }]);

  return Slider;
}();

var slider = new Slider({
  slider: '.slide-viewer',
  progressCount: '.page-counter',
  progressBar: '.slide-progress',
  loader: '.slide-loader',
  totalPages: <%= @slide.pages.size %>
});

var fs = new Fullscreen($('.slide-viewer-container'), $('#fullscreen'));

$('.slide-viewer').slick({
  accessibility: true,
  autoplay: false,
  cssEase: 'liner',
  dots: false,
  draggable: false,
  arrows: false,
  initialSlide: 0,
  lazyLoad: 'ondemand',
  slidesToShow: 1,
  slidesToScroll: 1,
  swipe: true,
  vertical: false,
  centerMode: true,
  centerPadding: '0'
});

$('#prev').on('click', function () {
  slider.goPrev();
});
$('#next').on('click', function () {
  slider.goNext();
});
$('#fullscreen').on('click', function () {
  fs.toggle();
});
$(window).resize(function () {
  slider.resize();
});

$(document).on('keydown', function (e) {
  var key = e.keyCode;
  if (key == 39 || key == 40 || key == 13) {
    slider.goNext();
    e.preventDefault();
  } else if (key == 37 || key == 38) {
    slider.goPrev();
    e.preventDefault();
  }
});

  })
  // -->
  </script>

  <style type="text/css">
.slide-viewer-container {
  width: 100%;
  max-height: 100%;
  background: #fff;
  border: 1px solid #333;
  position: relative;
  /* Full Screen */
}
.slide-viewer-container .slide-viewer {
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slide-viewer-container .slick-list {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.slide-viewer-container .slick-list .slick-slide img {
  width: 100%;
  height: auto;
}
.slide-viewer-container .slide-toolbar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.slide-viewer-container .slide-toolbar-container .slide-progress.ui.tiny.progress {
  margin: 0;
  border-radius: 0;
}
.slide-viewer-container .slide-toolbar-container .slide-toolbar {
  margin: 0;
  padding: 0 5px;
  width: 100%;
  min-height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  background: #323232;
  position: relative;
}
.slide-viewer-container .slide-toolbar-container .slide-toolbar .brand-title {
  position: absolute;
  left: 0;
  padding: 0 10px;
}
.slide-viewer-container .slide-toolbar-container .slide-toolbar .tool-item {
  border: none;
  background: transparent;
  padding: 10px;
}
.slide-viewer-container .slide-toolbar-container .slide-toolbar .slide-pager {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.slide-viewer-container .slide-toolbar-container .slide-toolbar #fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
}
.slide-viewer-container:-webkit-full-screen, .slide-viewer-container:-moz-full-screen, .slide-viewer-container:-ms-fullscreen, .slide-viewer-container:fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
  </style>
</head>
<body style="margin:0;padding:0">
  <div class="slide-viewer-container">
    <div class="slide-viewer">
      <% @slide.pages.each do |page| %>
        <div><%= image_tag page.image_url(:medium) %></div>
      <% end %>
      <div class="ui inverted dimmer slide-loader">
        <div class="ui large text loader">Loading</div>
      </div>
    </div>
    <div class="slide-toolbar-container">
      <div class="slide-progress ui teal tiny progress">
        <div class="bar"></div>
      </div>
      <div class="slide-toolbar">
        <div class="brand-title">
          <%= link_to 'Tease.Me', root_path %>
        </div>
        <div class="slide-pager">
          <button class="tool-item" id="prev">
            <i class="angle double left icon"></i>
          </button>
          <div class="page-conter"></div>
          <button class="tool-item" id="next">
            <i class="angle double right icon"></i>
          </button>
        </div>
        <button class="tool-item" id="fullscreen">
          <i class="expand icon"></i>
        </button>
      </div>
    </div>
  </div>
</body>
</html>
